# ===============================
# Python
# ===============================
__pycache__/
*.pyc
*.pyo
*.pyd

# ===============================
# Virtual Environment
# ===============================
venv/
.env
.env.*

# ===============================
# Data (Datasets)
# ===============================
data/
*.csv

# ===============================
# Models
# ===============================
# اگر مدل را در GitHub نگه می‌داری، این خط را کامنت کن
# models/*.pkl

# ===============================
# Streamlit
# ===============================
.streamlit/

# ===============================
# Jupyter
# ===============================
.ipynb_checkpoints/

# ===============================
# Logs
# ===============================
*.log

# ===============================
# OS
# ===============================
.DS_Store
Thumbs.db

# ===============================
# Docker
# ===============================
*.tar
